---

import { ShowAnswer } from "./ShowAnswer"

const problem = await fetch('https://nutritious-sallyanne-yitzhakp-2ef75de7.koyeb.app/')
  .then(respuesta => respuesta.json())
  .then(datos => datos)
  .catch(error => error)
---

<article class="w-9/10 my-5 p-5 bg-[#13151a] rounded flex-col pb-10 lg:mt-15 lg:pb-20">
    <p class="p-10 text-4xl lg:text-5xl">
        {problem.question}
    </p>
    <ShowAnswer answer={problem.answer} others={problem.others} client:visible></ShowAnswer>

</article>


<style></style>
